zig-cache
flat_hash
lexer.tab.zig
zig_isocores.txt
zig_grammar.txt
zig_grammar.tokens.zig
zig_grammar.tables.zig
zig_grammar.actions.zig
json_isocores.txt
json_grammar.txt
json_grammar.tokens.zig
json_grammar.tables.zig
json_grammar.actions.zig
main
json
lalr
*.swp
*.o
